
body{
 
  font-family:  Helvetica, sans-serif;
  
}
#header{

    margin: 20px 10px 10px 10px;
display: flex;
justify-content: center;
align-items: center;
height: 110px;


background-color: rgb(231, 231, 231);

}


#navMenu{

    margin: 15px 10px 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
   
    
    background-color: rgb(231, 231, 231);

}


#mainContent{




    margin: 15px 10px 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
   
    
    background-color: rgb(255, 255, 255);


}

#leftContent{

width: 20%;
display: flex;
    justify-content: center;
    align-items: center;
  background-color: rgb(231, 231, 231);
  height: 350px;
 margin-right: 15px;

 }
#centerContent{


    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
  height: 350px;
}

#rightContent{
     
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
  height: 350px;
   margin-left: 15px;
    
    }